body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #87CEEB, #1E90FF);
    color: #FFF;
}
.navbar {
    background-color: #005f73;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navbar a:hover {
    text-decoration: underline;
}
.container {
    width: 80%;
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
button {
    background-color: #0096c7;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0077b6;
}
h1 {
    text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: %; /* Adjust width as necessary */
}
.active {
    color: rgb(255, 255, 255); /* Active link text color */
    background-color: #00aeff; /* Active link background color */
    border-radius: 10px; /* Applies rounded corners to all links (optional) */
  }
  .highlight{
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    border-radius: 10px; /* Applies rounded corners to all links (optional) */
  }

